@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif+JP');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif !important;
	font-size: 16px;
	color: $text-color !important;
	background-color: $back-color !important;
}

h1 {
	font-family: 'Noto Serif JP', serif !important;
}
.titling {
	font-family: 'Noto Serif JP', serif;
	color: $text-color, 8%;
}
.detail-title {
	font-family: 'Noto Serif JP', serif !important;
	font-size: 2rem;
}
.container {
	padding: 25px calc((100vw - 960px) / 2);

	@media (max-width: 980px) {
		padding: 25px 10px;
	}
}
.underlined-text {
	border-bottom: 2px lighten($primary-color, 16%) dashed;
	text-decoration-skip-ink: auto;
}
.icon-center {
	position: relative;
	/* Adjust these values accordingly */
	top: 6px;
}
.footer {
	background-color: lighten(#d0c8c9, 16%);
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 12px calc((100vw - 960px) / 2);
}
