@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Serif+JP');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif !important;
	font-size: 16px;
	color: $text-color !important;
	background-color: $back-color !important;
}

h1 {
	font-family: 'Noto Serif JP', serif !important;
}
.titling {
	font-family: 'Noto Serif JP', serif;
	color: $text-color, 8%;
}
.container {
	padding: 25px calc((100vw - 960px) / 2);

	@media (max-width: 980px) {
		padding: 25px 10px;
	}
}
