.button {
	padding: 10px 15px;
	background-color: $primary-color;
	color: $back-color;
	transition: 250ms all ease-in-out;
	border: none;
	outline: none;
	border-radius: 3px;

	&:hover {
		cursor: pointer;
		background-color: lighten($primary-color, 8%);
		text-decoration: none;
		color: $back-color;
	}

	&-secondary {
		background-color: $secondary-color;

		&:hover {
			background-color: lighten($secondary-color, 8%);
		}
	}
}
.email-btn {
	display: inline-block;
	transition: 250ms all ease-in-out;
	padding: 8px 10px;
	justify-self: end;
	background-color: lighten($primary-color, 8%);
	border-radius: 50%;
	font-weight: 700;
	color: $back-color;
	& i {
		font-size: 1.6rem;
		position: relative;
		/* Adjust these values accordingly */
		top: 2px;
	}
	&:hover {
		cursor: pointer;
		background-color: darken($primary-color, 8%);
		color: $back-color;
		text-decoration: none;
	}
}
.form-exp {
	font-size: 0.92rem;
}
.form-btn {
	padding: 6px 8px;
	background-color: $primary-color;
	color: #fff;
	transition: 250ms all ease-in-out;
	border: none;
	outline: none;
	border-radius: 3px;

	&:hover {
		cursor: pointer;
		background-color: lighten($primary-color, 8%);
	}

	&-secondary {
		background-color: $secondary-color;

		&:hover {
			background-color: lighten($secondary-color, 8%);
		}
	}
}

.input {
	border-radius: 3px;
	border: none;
	transition: 250ms all ease-in-out;
	outline: none;
	color: $text-color;
	padding: 5px 10px;
	background-color: #f9f6f2;
	border: solid 1.4px $grey;
	font-size: 16px;
	min-width: 250px;
	max-width: 100%;

	&:focus {
		border-color: $primary-color;
		color: $primary-color;
	}
}
.search {
	& .select-form,
	input {
		margin: auto 4px;
		align-self: center;
	}
	margin-bottom: 16px;
	align-self: center;
}
.top-padding {
	padding-top: 36px;
}
.select-form {
	border-radius: 3px;
	border: none;
	background-color: #f9f6f2;
	border: solid 1px $grey;
	color: $text-color;
	padding: 5px 10px;
}
.separator {
	display: block;
	width: 100%;
	height: 1px;
	margin: 15px 0;
	background-color: $grey;
	border: none;
	outline: none;
}
.landing-container {
	margin-top: 10vw;
	h1 {
		margin-bottom: 3vw;
	}
	height: 60vh;
}
.link {
	color: $primary-color;
	text-decoration: none;
	transition: 250ms all ease-in-out;

	&:visited {
		color: $primary-color;
	}

	&:hover {
		color: lighten($primary-color, 8%);
	}
}
.wrap-container {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.book-container {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.books-wrap {
	display: -webkit-flex;
	display: flex;

	align-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 1.5%;
}
.book-card {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #f9f6f2;
	box-shadow: 0 2px 6px #d0c8c9;
	margin: 12px;
	padding: 1.5%;
	width: 264px;
	& div {
		margin-left: 16px;
	}
}
.book-card {
	@media (max-width: 700px) {
		width: 100%;
	}
}
.book-data-wrap {
	display: wrap;
	flex-direction: column;
	align-content: space-around;
}
.book-owned {
	opacity: 0.7;
}
.book-title {
	font-family: 'Noto Serif JP', serif;
	font-size: 1.4rem;
}
.link-to-det {
	color: $primary-color;
	&:hover {
		color: $primary-color;
		text-decoration: none;
		border-bottom: 2px lighten($primary-color, 30%) dashed;
	}
}
.book-cover {
	object-fit: cover;
	position: relative;
	max-height: 160px;
	width: 86px;
}
.book-detail {
	font-weight: 700;
}
.welcome-msg {
	-webkit-animation-name: welcome; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-name: welcome;
	animation-duration: 2s;
}

@-webkit-keyframes welcome {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes welcome {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.profile-wrapper {
	display: flex;
	flex-direction: column;
	width: 36%;
	box-sizing: border-box;
	padding: 6% 1.5% 3%;
	margin: 0 0 24px;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 3px;

	&-view {
		height: 96vh;
		@media (max-width: 780px) {
			width: 100%;
			height: 100vh;
		}
	}
	&-edit {
		height: 80vh;
		@media (max-width: 1000px) {
			width: 60%;
			height: 100vh;
		}
		@media (max-width: 780px) {
			width: 100%;
			height: 100vh;
		}
	}
}
.separator-vertical {
	@media (min-width: 780px) {
		background-color: $grey;
		border: 1px solid $grey;
	}
}
.user-bookshelf {
	width: 60%;
	@media (max-width: 780px) {
		width: 100%;
	}
	& .bookshelf-wrap {
		padding-left: 5px;
	}
}
.profile-picture {
	border-radius: 50%;
	margin: auto auto;
	max-width: 210px;
	max-height: 210px;
	object-fit: cover;
	align-self: center;
	background-color: $primary-color;
	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
	filter: grayscale(50%) opacity(76%);
}
.user-details {
	padding: 16px 16px 8px;
}
.asterisk {
	font-size: 2rem;
	font-weight: 700;
	color: lighten($primary-color, 16%);
	top: -4rem;
	margin-left: 10px;
}
.fill-info {
	color: lighten($text-color, 20%);
}
.space-between {
	display: flex;
	justify-content: space-between;
}
.book-slot {
	height: 108px;
	padding: 1.5%;
}

.status-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.upper-container {
	justify-content: space-between;
}
.status-icon {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 16px;
}
.lent-book {
	background-color: #d0c8c9;
}
.available-book {
	background-color: #5daa73;
}
.btn {
	transition: 250ms all ease-in-out;
	margin: 6px 12px;
	padding: 6px 8px;
	border: none;
	outline: none;
	border-radius: 3px;
}
.transparent-btn {
	background-color: transparent;
	border: none;
	&:hover {
		cursor: pointer;
	}
	&-clear:hover {
		background-color: #d0c8c9;
	}
	&-edit {
		width: 108px;
		margin: auto auto;
		&:hover {
			background-color: lighten($primary-color, 16%);
			color: white;
		}
	}
}
.cancel-btn {
	&:hover {
		cursor: pointer;
		background-color: rgba(219, 97, 127, 0.3);
	}
}
.check-btn {
	color: #5daa73;
	&:hover {
		cursor: pointer;
		background-color: rgba(93, 170, 115, 0.6);
		color: $back-color;
	}
}
.availability-btn {
	position: relative;
	margin: -4px 12px 2px 12px;
	width: 108px;
	background-color: transparent;
	font-weight: 700;
	&.getback-btn {
		&:hover {
			cursor: pointer;
			background-color: rgba(93, 170, 115, 0.6);
		}
	}
	&.lend-btn {
		&:hover {
			cursor: pointer;
			background-color: rgba(219, 97, 127, 0.6);
		}
	}
}
