.button {
	padding: 10px 15px;
	background-color: $primary-color;
	color: #fff;
	transition: 250ms all ease-in-out;
	border: none;
	outline: none;
	border-radius: 3px;

	&:hover {
		cursor: pointer;
		background-color: lighten($primary-color, 8%);
	}

	&-secondary {
		background-color: $secondary-color;

		&:hover {
			background-color: lighten($secondary-color, 8%);
		}
	}
}
.email-btn {
	display: inline-block;
	margin: 12px auto;
	padding: 8px 10px;

	background-color: lighten($primary-color, 8%);
	border-radius: 50%;
	font-weight: 700;
	color: $back-color;
	&:hover {
		cursor: pointer;
		background-color: darken($primary-color, 8%);
		color: $back-color;
	}
}
.form-exp {
	font-size: 0.92rem;
}
.form-btn {
	padding: 6px 8px;
	background-color: $primary-color;
	color: #fff;
	transition: 250ms all ease-in-out;
	border: none;
	outline: none;
	border-radius: 3px;

	&:hover {
		cursor: pointer;
		background-color: lighten($primary-color, 8%);
	}

	&-secondary {
		background-color: $secondary-color;

		&:hover {
			background-color: lighten($secondary-color, 8%);
		}
	}
}

.input {
	border-radius: 3px;
	border: none;
	transition: 250ms all ease-in-out;
	outline: none;
	color: $text-color;
	padding: 5px 10px;
	background-color: #f9f6f2;
	border: solid 1.4px $grey;
	font-size: 16px;
	min-width: 250px;
	max-width: 100%;

	&:focus {
		border-color: $primary-color;
		color: $primary-color;
	}
}
.search {
	& .select-form,
	input {
		margin: auto 4px;
	}
	margin-bottom: 16px;
}
.top-padding {
	padding-top: 36px;
}
.select-form {
	border-radius: 3px;
	border: none;
	background-color: #f9f6f2;
	border: solid 1px $grey;
	color: $text-color;
	padding: 5px 10px;
}
.separator {
	display: block;
	width: 100%;
	height: 1px;
	margin: 15px 0;
	background-color: $grey;
	border: none;
	outline: none;
}
.landing-container {
	margin-top: 10vw;
	h1 {
		margin-bottom: 3vw;
	}
}
.link {
	color: $primary-color;
	text-decoration: none;
	transition: 250ms all ease-in-out;

	&:visited {
		color: $primary-color;
	}

	&:hover {
		color: lighten($primary-color, 8%);
	}
}
.wrap-container {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.book-container {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.books-wrap {
	display: -webkit-flex;
	display: flex;

	align-content: space-around;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 1.5%;
}
.book-card {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #f9f6f2;
	box-shadow: 0 2px 6px #d0c8c9;
	margin: 12px;
	padding: 1.5%;
	width: 33%;
}
.book-card {
	@media (max-width: 700px) {
		width: 100%;
	}
}
.book-owned {
	opacity: 0.7;
}
.book-title {
	font-family: 'Noto Serif JP', serif;
}
.link-to-det {
	color: $primary-color;
}
.book-cover {
	object-fit: cover;
	position: relative;
	max-height: 160px;
	width: 86px;
}
.book-detail {
	font-weight: 700;
}
.profile-wrapper {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	padding: 1.5%;
	width: 30%;
	background-color: #fff;
	box-sizing: border-box;
	@media (max-width: 700px) {
		width: 100%;
	}
}
.user-bookshelf {
	width: 60%;
}
.profile-picture {
	border-radius: 50%;
	max-width: 240px;
	max-height: 240px;
	object-fit: cover;
	align-self: center;
	background-color: $primary-color;
	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
	filter: grayscale(50%) opacity(76%);
}
.user-details {
	top: 16px;
}
.asterisk {
	font-size: 2rem;
	font-weight: 700;
	color: lighten($primary-color, 16%);
	top: -4rem;
	margin-left: 10px;
}
.fill-info {
	color: lighten($text-color, 20%);
}
.book-slot {
	padding: 1.5%;
}
.lent-book {
	background-color: #d0c8c9;
}
