.navigation {
	background-color: $primary-color;
}

.nav-content {
	display: flex;
	justify-content: space-between;
}
.navBarBrand {
	font-family: 'Noto Serif JP', serif;
	color: $text-color !important;

	&:hover {
		color: lighten($text-color, 16%) !important;
	}
}
.nav-link {
	color: #e2dbcf;

	&:visited {
		color: #e2dbcf;
	}

	&:hover {
		color: #ffffff;
	}
}
.navbar-toggler {
	border: none !important;
}
